
.mouse {
  position: fixed;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 10000;
  pointer-events: none;
}
.mouse::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  background: #d7d7d7;
  box-shadow: 4px 4px 4px #777777;
  border-radius: 100%;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}
.mouse::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background: #cdcdcd;
  border-radius: 100%;
  transition: opacity 0.3s ease-in-out;
}

.links-visible::after {
  border: 5px solid #111;
  transform: translate(-50%, -50%) scale(0.6);
  background-color: transparent;
  transition: 0.3s;
}

.links-visible::before {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
