@font-face {
  font-family: "allstarregular";
  src: url("./fonts/all_star_resort-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  background-color: #000;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, p {
  margin: 0; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: #000;
  background-image: url("./images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease-in-out; }
  .preloader--hidden {
    opacity: 0;
    z-index: -100; }

.star {
  animation: star 8s ease-out infinite; }

.wars {
  animation: wars 8s ease-out infinite; }

.byline span {
  animation: spin-letters 8s linear infinite; }

.byline {
  animation: move-byline 8s linear infinite; }

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(2.5) translateY(-4.5em); }
  30% {
    opacity: 1; }
  70% {
    opacity: 1;
    transform: scale(1); }
  90% {
    opacity: 0;
    transform: translateZ(-1000em); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
    display: none; } }
@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(2.5) translateY(4.5em); }
  30% {
    opacity: 1; }
  70% {
    opacity: 1;
    transform: scale(1); }
  90% {
    opacity: 0;
    transform: translateZ(-1000em); }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
    display: none; } }
@keyframes spin-letters {
  0% {
    opacity: 0;
    transform: rotateY(90deg); }
  30% {
    opacity: 1; }
  70% {
    transform: rotateY(0);
    opacity: 1; }
  95% {
    opacity: 0; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes move-byline {
  0% {
    transform: translateZ(5em) translateY(-50%); }
  100% {
    transform: translateZ(0) translateY(-50%);
    display: none; } }
.starwars-demo {
  height: 58vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  perspective: 800px;
  transform-style: preserve3d; }

.byline span {
  display: inline-block;
  margin-right: 6px; }

img {
  width: 100%; }

.star, .wars, .byline {
  position: absolute; }

.star {
  top: 0; }

.wars {
  bottom: 0; }

.byline {
  color: #fff;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.1em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%); }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto; }

.content {
  padding: 100px 0; }

.title {
  font-family: "allstarregular";
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 64px;
  text-transform: uppercase;
  color: #fcc22e;
  margin-bottom: 32px; }

.text {
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #fff; }

.btns {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center; }

.btn {
  border: 2px solid #fff;
  padding: 15px 30px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  transition: all .3s ease-in-out; }

.btn:hover {
  background-color: #fff;
  color: #000;
  font-weight: 600; }

/*# sourceMappingURL=style.css.map */
