@import "scss/fonts";
body {
  margin: 0;
  background-color: #000;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,p {
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@import "scss/preloader";

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
.content {
  padding: 100px 0;
}
.title {
  font-family: "allstarregular";
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 64px;
  text-transform: uppercase;
  color: #fcc22e;
  margin-bottom: 32px;
  text-shadow: 3px 3px 8px #795d17;
}
.text {
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #fff;
}
.btns {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.btn {
  border: 2px solid #fff;
  padding: 15px 30px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  transition: all .3s ease-in-out;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  font-weight: 600;
}
